_minted
.vscode

# Build artifacts
**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.toc
**/*.lot
**/*.lof
**/*.nav
**/*.snm
**/*.lol
**/*.synctex.gz

**/*.pdf
!thesis.pdf

**/*.drawio
!**/*.drawio.pdf
